// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("./assets/header.jpg");
  background-position: center center;
  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}

// content scroll
.home-content__scroll {
  position: absolute;
  right: 8rem;
  bottom: 6rem;
  -webkit-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -ms-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  .scroll-link {
    text-decoration: none;
    font-family: $font-family-montserrat;
    font-weight: $font-weight-semibold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: left;
    color: $colorTextPrimary;
    position: relative;
    padding-right: 200px;
    &:hover {
      color: $accentColor;
    }
  }
  &::after {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    width: 150px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .home-content__scroll {
    right: 4rem;
    bottom: 3.5rem;
    .scroll-link {
      padding-right: 80px;
    }
    &::after {
      width: 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-content__scroll {
    .scroll-link {
      font-size: 11px;
    }
    &::after {
      display: none;
    }
  }
}
