// Styling for the masthead
header.masthead {
  width: 100%;
  height: 100vh;
  min-height: 786px;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("./assets/header.jpg");
  background-position: center center;

  @include background-cover;

  .top {
    margin-top: auto;
  }
}


// header thin quote style
header.masthead h2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-family: $font-family-montserrat;
  font-weight: $font-weight-thin;

  @media (min-width: $screen-sm-min) {
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
  }

  @media (min-width: $screen-md-min) {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 3.1rem;
    letter-spacing: 0.5rem;
  }
}

// header bold quote style
header.masthead h1 {
  text-transform: uppercase;
  font-family: $font-family-raleway;
  font-weight: $font-weight-bold;
  font-size: 3rem;
  span {
    color: #b71c1c;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 4.5rem;
  }

  @media (min-width: $screen-md-min) {
    font-size: 6rem;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 7.4rem;
  }
}

// header bold quote style
header.masthead h6 {
  text-transform: uppercase;
  font-family: $font-family-montserrat;
  font-weight: $font-weight-regular;
  font-size: 1rem;

}


  
  // icon
  .header-quote-icon {
    padding: 12px;
    width: 200px;
    height: auto;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }

    @media (min-width: $screen-md-min) {
      padding: 50px;
      margin: 0;
    }

  }

// content scroll
.parent-row {
  display: flex;
  align-items: flex-end;
}


.home-content__scroll {

  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  margin-left: 20px;

  .scroll-link {
    text-decoration: none;
    font-family: $font-family-montserrat;
    font-weight: $font-weight-regular;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: left;
    color: $colorTextPrimary;
    position: relative;
    padding-right: 80%;
    &:hover {
      color: $accentColor;
    }
  }
  &::after {
    content: "";
    display: block;
    background-color: $white;
    width: 70%;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
  }


}

@media (max-width: $screen-lg-min) {
  .home-content__scroll {
    .scroll-link {
      padding-right: 77%;
    }
  }
}


@media (max-width: $screen-md-min) {
  .home-content__scroll {
    .scroll-link {
      padding-right: 74%;
    }

  }
}

@media (max-width: $screen-sm-min) {
  .home-content__scroll {
    transform-origin: right bottom;
    width: 100%;
    text-align: right;
    .scroll-link {
      font-size: 11px;
      padding-right: 0%;
    }

    &::after {
      display: none;
    }
  }
}

